<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <link href="../../theme/Master.css" rel="stylesheet" type="text/css">
  <title>Winfried's Modellflugseite</title>
</head>
<body style="background-color: white;" lang="de-DE">
<div id="Header">
bruegmaenner.de &nbsp;&nbsp; - &nbsp;&nbsp; Winfried's Modellflugseite
</div>

<div id="LangSelect">
<a href="../../de/winfried/index.html"><IMG SRC="../../de/winfried/images/Deutschland.png" NAME="deutsch" height=30 width=30 border=0/></a>
<a href="../../en/winfried/index.html"><IMG SRC="../../de/winfried/images/England.png" NAME="english" height=30 width=30 border=0/></a>
</div>

<div id="Menu">
<a href="index_de.html">Flugmodelle</a><br><br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <a href="content/Historie.html">Historie</a><br><br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <a href="content/MUE28.html">M&Uuml; 28</a><br><br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <a href="content/Foka4.html">Foka 4</a><br><br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <a href="content/ASW27.html">ASW 27</a><br><br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <a href="content/ASH26.html">ASH 26</a><br><br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <a href="content/Zagi.html">Zagi</a><br><br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <a href="content/Cappuccino.html">Cappuccino</a><br><br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <a href="content/SpacePro.html">Space Pro 3,35</a><br><br>
<br><br><br><br><br>
<a href="default.html">Home</a><br><br>
</div>

<div id="Content">
<h1 align="center">Einf&uuml;hrung</h1>
<p><br>
<br>
</p>
<p align="center">
Da es sich hier um eine private Seite handelt, <br>
werden hier nur meine privaten Interessen behandelt!
</p>
<p align="center">
<br>
<br>
Segelflugmodellbau - das Erfahren von motorlosem Flug, <br>
nimmt zeitlich gesehen, zwar keinen besonders gro&szlig;en Teil
ein, <br>
daf&uuml;r liegt hier, seit mehr als 25 Jahren, mein besonderes
Interesse.
</p>
<p align="center">
<br>
Wer also mit Aerodynamik, Modellbau oder Segelflug <br>
nichts am Hut hat wird hier nicht besonders gl&uuml;cklich werden.
</p>
<center> <a
 href="http://www.disclaimer.de/disclaimer.htm?farbe=FFFFFF/000000/000000/000000"><img
 src="http://www.disclaimer.de/images/d_gold.gif" alt="disclaimer"
 border="0" height="20" width="84"></a>
</center>
</div>
</body>
</html>
