<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <link href="../../theme/Master.css" rel="stylesheet" type="text/css">
  <title>Winfried's Gliders Page</title>
</head>
<body style="background-color: white;" lang="en-US">
<div id="Header">
bruegmaenner.de &nbsp;&nbsp; - &nbsp;&nbsp; Winfried's Gliders Page
</div>

<div id="LangSelect">
<a href="../../de/winfried/index.html"><IMG SRC="../../de/winfried/images/Deutschland.png" NAME="german" height=30 width=30 border=0/></a>
<a href="../../en/winfried/index.html"><IMG SRC="../../de/winfried/images/England.png" NAME="english" height=30 width=30 border=0/></a>
</div>

<div id="Menu">
<a href="index.html">Glider Models</a><br><br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <a href="content/Historie.html">History</a><br><br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <a href="content/MUE28.html">M&Uuml; 28</a><br><br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <a href="content/Foka4.html">Foka 4</a><br><br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <a href="content/ASW27.html">ASW 27</a><br><br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <a href="content/ASH26.html">ASH 26</a><br><br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <a href="content/Zagi.html">Zagi</a><br><br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <a href="content/Cappuccino.html">Cappuccino</a><br><br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <a href="content/SpacePro.html">Space Pro</a><br><br>
<br><br>
<br><br>
<br>
<a href="../../../index.html">Home</a><br><br>
</div>

<div id="Content">
<h1 align="center">Introduction</h1>
<p><br>
<br>
</p>
<p align="center">
Since this is a private web page, <br>
only private intrests are discussed !</p>
<p align="center">
<br>
<br>
Building model gliders - practiced of motor less flight, <br>
timely base not the biggest part of my spare time, <br>
but since 25 years my special interest.
</p>
<p align="center">
<br>
Who has no time for aerodynamics, building models or soaring <br>
will not et very happy on this pages.
</p>
<center> <a
 href="http://www.disclaimer.de/disclaimer.htm?farbe=FFFFFF/000000/000000/000000"><img
 src="http://www.disclaimer.de/images/d_gold.gif" alt="disclaimer"
 border="0" height="20" width="84"></a>
</center>
</div>
</body>
</html>
