<div class="menu">
	<a href="index_de.html">Flugmodelle</a>
	<br>
	<br>
	<a href="{% include_relative de/content/Historie.html %}">Historie</a><br><br>
	<a href="{% include_relative de/content/MUE28.html %}">M&Uuml; 28</a><br><br>
	<a href="{% include_relative de/content/Foka4.html %}">Foka 4</a><br><br>
	<a href="{% include_relative de/content/ASW27.html %}">ASW 27</a><br><br>
	<a href="{% include_relative de/content/ASH26.html %}">ASH 26</a><br><br>
	<a href="{% include_relative de/content/Zagi.html %}">Zagi</a><br><br>
	<a href="{% include_relative de/content/Cappuccino.html %}">Cappuccino</a><br><br>
	<a href="{% include_relative de/content/SpacePro.html %}">Space Pro 3,35</a><br><br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<a href="default.html">Home</a><br><br>
</div>