body {
	margin:0px;
	padding:0px;
	font-family:verdana, arial, helvetica, sans-serif;
	color:#333;
	background-color:white;
	}
h1 {
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:28px;
	line-height:28px;
	font-weight:900;
	color:black;
	}
h2 {
	margin:0px 0px 15px 0px;
	padding-left:20px;
	font-size:20px;
	line-height:20px;
	font-weight:900;
	color:black;
	}
h3 {
	margin:0px 0px 15px 0px;
	padding-left:20px;
	font-size:18px;
	line-height:18px;
	font-weight:900;
	color:black;
	}
h5 {
	margin:0px 0px 15px 0px;
	padding-left:200px;
	font-size:18px;
	line-height:18px;
	font-weight:900;
	color:black;
	}
p {
	font:14px/22px helvetica, arial, sans-serif, verdana;
	margin:0px 0px 16px 0px;
	padding:10px;
	}
ol {
	font:14px/22px helvetica, arial, sans-serif, verdana;
	margin:0px 0px 16px 0px;
	padding-right:30px;
	}
ul {
	font:14px/22px helvetica, arial, sans-serif, verdana;
	margin:0px 0px 16px 0px;
	padding-right:30px;
	}
#Content>p {margin:0px;}
#Content>p+p {text-indent:00px;}

a {
	color:#09c;
	font-size:12px;
	text-decoration:none;
	font-weight:600;
	font-family:verdana, arial, helvetica, sans-serif;
	}
a:link {color:#3366FF;}
a:visited {color:#00CCCC;}
a:hover {background-color:#CCCCCC;}

#Header {
	margin:50px 0px 10px 0px;
	padding:17px 0px 0px 20px;
	height:36px; 
	border-style:solid;
	border-color:black;
	border-width:1px 0px; /* top and bottom borders: 1px; left and right borders: 0px */
	line-height:11px;
	background-color:#efe;
	voice-family: "\"}\"";
	height:18px; /* the correct height */
	}
body>#Header {height:30px;}

#Content {
	margin:0px 50px 50px 250px;
	padding:30px;
	}

#LangSelect {
	position:absolute;
	top:110px;
	left:50px;
	width:160px;
	padding:10px;
	background-color:white;
	}
	
#Menu {
	position:absolute;
	top:180px;
	left:20px;
	width:160px;
	padding:10px;
	background-color:white;
	line-height:17px;
	voice-family: "\"}\"";
	width:150px;
	}
/* Again, "be nice to Opera 5". */
body>#Menu {width:150px;}
